.mainuserhp {
  background: #f2f4f6;
  padding-bottom: 20px;
  padding-top: 100px;
}

h1, h3 {
	margin-bottom: 0px;
}
h3 {
	margin-top: 0px;
}


/* Position en dur des capteurs pour le moment */
.circle1 {
  position: absolute;
  left: 200px;
  top: 220px;
}
.circle2 {
  position: absolute;
  left: 280px;
  top: 420px;
}

/* Pour l'ouverture + mise en forme de l'info bulle */
a:hover,a:focus{
     background:rgba(0,0,0,.4);
     box-shadow:0 1px 0 rgba(255,255,255,.4);
}
a span{
     position:absolute;
     margin-top:80px;
     margin-left:-10px;
     color:#18BC9C;
     background:#465256;
     padding:15px;
     border-radius:3px;
     box-shadow:0 0 2px rgba(0,0,0,.5);
     transform:scale(0) rotate(-12deg);
     transition:all .25s;
     opacity:0;
}
a:hover span, a:focus span{
     transform:scale(1) rotate(0);
     opacity:1;
}
/* Fin infobulle */

/* img de lune et soleil */
.moon {
  margin-top: 10%;
	align: left;
}

/* Trace une ligne horizontale bleue */
hr{
	margin-left: 110px;
	margin-top: 10px;
	margin-bottom: 10px;
  width: 50%;
  height: 2px;
  background-color: #18BC9C;
  border: none; /*on supprime le style par défaut*/
}


.center-left {
	margin-left: 180px !important;
}
.center-left h3 {
	margin-left: 20px !important;
}

/* Flèche sur V1 pour le moment en dure */
.timev1 {
	position: absolute;
	margin-top: 62px;
}

.infoepe {
	margin-top: 50px;
	text-align: justify;
  list-style: none;
}

.infoepe li {
  text-indent: -.7em;
}

.infoepe li::before {
  content: "• ";
  color: #18BC9C;
}
