body{
    background-color: #ffffff;
}
.main_navbar{
    padding: 2% 10%;
}
ul.login_ul{
    list-style-type: none;
    margin: 10;
    padding: 20;
}
/* Dropdown Button */
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    background-color: #F1F1F1;
    border-right: 1px solid #fff;
    border-radius: 10px;
    color: #009036;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ad9b91}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #ad9b91;
} 

/* Admin nav bar */
.panel-body{
    background-color: #F1F1F1;
}

.introduction{
    padding: 30px;
    font-size: 20px;
}

ul.Information {
    list-style-type: none; /*for hide the point in the list*/
    margin: -5.5% 0% -5.5% -5.5%;
    padding: 0;
    overflow: hidden;
    background-color: rgb(243, 239, 224);
}

ul.Information li a {
    display: block;
    font-family: "Times New Roman", Times, serif;
    color: rgb(34, 163, 159);
    padding: 50px 0 8px 16px;
    text-decoration: none;
}
ul.Information li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.Information li a:hover:not(.active) {
    background-color: rgb(193, 197, 196);
    color: white;
}