.actu-main-container {
  margin-top: 140px;
  padding: 50px 140px;

  .main-title {
    color: #C21C75;
    font-size: 52px;
    font-weight: bold;
  }

  .my-hr {
    border-top: 2px solid #9f9797;
  }
  .main-text {
    padding: 10px 20px;
    background-color: #fffff6;
    &:nth-of-type(2n) {
      background-color: #fffffe;
    }
    h2 {
      font-size: 35px;
      color: #29B224;
      span {
        margin-left: 10px;
      }
    }
    .sub-text {
      padding: 0 48px;
      .date {
        font-size: 25px;
        font-weight: bold;
      }
      a {
        color: #3f5a75;
        font-size: 16px;
      }
    }
  }
}
