.actuheader {
  h1 {
    color: #000;
  }
}

.mainactu {
   margin-left: 10%;
   margin-right: 5%;
   h3 {
      margin-bottom: 0px;
      color: #29B224;
      font-weight: bold;
   }
   .date {
     font-style: italic;
     font-weight: bold;
   }
   p {
     padding: 0px;
     margin: 0px;
   }
   hr {
     border-top: 2px solid #eeeeee;
   }
   a, a:focus, a:hover {
      color:#3f5a75;
   }
}
