/* Admin nav bar */
.panel-body{
    background-color: #F1F1F1;
}

.introduction{
    padding: 30px;
    font-size: 20px;
}

ul.Information {
    list-style-type: none; /*for hide the point in the list*/
    margin: -5.5% 0% -5.5% -5.5%;
    padding: 0;
    overflow: hidden;
    background-color: rgb(243, 239, 224);
}

ul.Information li a {
    display: block;
    font-family: "Times New Roman", Times, serif;
    color: rgb(34, 163, 159);
    padding: 50px 0 8px 16px;
    text-decoration: none;
}
ul.Information li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.Information li a:hover:not(.active) {
    background-color: rgb(193, 197, 196);
    color: white;
}


.item.active{
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

// Partie de la page se connecter
.login {
  margin-top: 140px;
  padding: 50px 140px;
  margin-bottom: 100px;

  .main-title {
    color: #29B224;
    font-size: 52px;
    font-weight: bold;
  }

  .my-hr {
    border-top: 2px solid #9f9797;
  }
  .main-text {
    padding: 10px 20px;
    background-color: #fffff6;
    h2 {
      font-size: 35px;
      color: #29B224;
      span {
        margin-left: 10px;
      }
    }
    .sub-text {
      padding: 0 48px;
      .date {
        font-size: 25px;
        font-weight: bold;
      }
      a {
        color: #3f5a75;
        font-size: 16px;
      }
    }
  }
  .btn-valid {
    color: #fff;
    background-color: #29B224;
    border-color: #29B224;
  }

  .submit {
    text-align: center;
  }

  .control-label {
    padding-right: 0px;
  }

  .btn:hover, .btn:focus {
    color:#3f5a75;
  }

  .alert-success {
    text-align: center;
  }

  .btn-link:hover, .btn-link:focus {
     color:#3f5a75;
  }

  .form-control:focus {
    border-color: #29B224;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(41, 178, 36, 1);
  }

  .radio-inline {
    margin-right: 5px;
    padding-top: 0px !important;
  }

  .alignradio {
    padding-top: 7px;
  }
}
