.mainuserhp {
  h1, h3 {
  	margin-bottom: 0px;
  }

  h3 {
  	margin-top: 0px;
  }

  /* Avant une list pour enlever l'espace */
  .beflist {
    margin-bottom: 0px;
  }

  .red {
    color: #FF0000;
  }

  .grey {
    font-size: 17px;
    color: #3f5a75;
  }

  /* Position en dur des capteurs pour le moment */
  .circle1 {
    position: absolute;
    left: 85px;
    top: 220px;
    width: 20px;
  }
  .circle2 {
    position: absolute;
    left: 155px;
    top: 420px;
    width: 20px;
  }
  .circle3 {
    position: absolute;
    left: 150px;
    top: 220px;
    width: 20px;
  }
  .circle4 {
    position: absolute;
    left: 165px;
    top: 245px;
    width: 20px;
  }
  .circle5 {
    position: absolute;
    left: 177px;
    top: 265px;
    width: 20px;
  }
  .circle6 {
    position: absolute;
    left: 135px;
    top: 155px;
    width: 20px;
  }
  .circle7 {
    position: absolute;
    left: 70px;
    top: 145px;
    width: 20px;
  }

  /* img de lune et soleil */
  .moon {
    margin: 10% 0 0 10%;
  }

  .day {
    text-align: center;
  }

  /* Trace une ligne horizontale verte */
  .hr{
  	margin-left: 0px;
  	margin-top: 10px;
  	margin-bottom: 10px;
    width: 45%;
    height: 2px;
    background-color: #29B224;
    border: none; /*on supprime le style par défaut*/
  }

  .night {
    background-color: #dbdbdb;
    padding-top: 10px;
  }

  .remerciements {
    padding-top: 10px;
    text-align: center;
    margin:10px auto 10px auto;
    width:500px;
    background:#29B224;
    border-radius: 30px;
  }

  /* On agrandit l'espace entre 2 lignes */
  .rowbottom {
    margin-bottom: 10px;

    /* Pour l'ouverture + mise en forme de l'info bulle */
    .sensor:hover,.sensor:focus{
         background:rgba(0,0,0,.4);
         box-shadow:0 1px 0 rgba(255,255,255,.4);
    }
    .sensor span{
         position:absolute;
         margin-top:140px;
         margin-left:-20px;
         font-weight: bold;
         padding:15px;
         border-radius:3px;
         transform:scale(0) rotate(-12deg);
         transition:all .25s;
         opacity:0;
    }

    .sensor:hover span, .sensor:focus span{
         transform:scale(1) rotate(0);
         opacity:1;
    }

    p {
      margin-right: 70px;
      text-align: justify;
    }

    /* Fin infobulle */
  }

  /* Flèche sur V1 pour le moment en dure */
  .timev0 {
  	position: absolute;
    left:-50px;
  	margin-top: 0px;
  }

  .timev1 {
  	position: absolute;
    left:-50px;
  	margin-top: 42px;
  }

  .timev2 {
  	position: absolute;
    left:-50px;
  	margin-top: 211px;
  }

  .timev3 {
  	position: absolute;
    left:-50px;
  	margin-top: 379px;
  }

  .imgrow {
    height: 500px;
    }

    h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
    }

    .sensor span {
      text-align: center;
      strong{
        font-size: 16px;
      }
    }

    // Les capteurs (petite couleur pour liste à puces correspondante)
    ul {
      list-style: none;
      font-size: 20px;
    }

    ul li{
      text-indent: -.7em;
      img {
        width: 10px;
        margin-right: 5px;
      }
    }
    p img {
        width: 10px;
        margin-right: 5px;
    }

    .planning {
      margin: 10px 0px 0px 0px;
      text-align: center;
      p {
        margin-bottom: 0px;
        font-size: 23px;
      }
    }

    .aligncontentbenevole {
      margin-top: 11px;
      margin-right: 70px;
      text-align: justify;
    }

    ul .sensorpdf {
      margin-left: 17px;
      font-size: 10px;
    }
    .sensorpdf {
      margin-left: 3px;
      font-size: 10px;
    }

    .sensor1 {
      color:#ffbd00;
      background-color: #808080;
    }
    .sensor3 {
      color:#00d424;
      background-color: #808080;
    }
    .sensor4 {
      color:#00f590;
      background-color: #808080;
    }
    .sensor5 {
      color:#00f136;
      background-color: #808080;
    }
    .sensor6 {
      color:#ff5c5c;
      background-color: #dbdbdb;
    }
    .sensor7 {
      color:#e64b00;
      background-color: #dbdbdb;
    }


    .justify {
      text-align: justify;
    }
}
