footer {
  color: white;
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}
footer h3 {
  margin-bottom: 30px;
}
footer {
  padding-top: 20px;
  background-color: #3f5a75;
}


footer .footer-col {
  margin-bottom: 20px;
}

.footer-col p{
    font-size: 12px;
}

.row {
  margin-right: 0px;
}

.footer-img {
  height: 100px;
  margin-top: 20px;
}

.ml {
  color:#000;
  background-color: #dbdbdb;
}

.ml p {
  font-size: 10px;
  margin: 5px;
}
