.navbar {
  display: block;
  height: 140px;
  background-color: white;
  border-bottom: 2px solid $navbar-btn !important;
  @media screen and (max-width: 1300px ) {
    height: 90px;
  }
  @media screen and (max-width: $mobile ) {
    height: 70px;
  }
  .navbar-header {
    .nav-logo {
      position: absolute;
      top: 0;
      left: 30px;
      border: aliceblue 1px solid;
      border-radius: 6px;
      box-shadow: 3px 3px 5px 0px #aaa;
      @media screen and (max-width: 1300px ) {
        border: 0;
      	box-shadow: none;
        margin-top: 19px;
      }
      @media screen and (max-width: $mobile ) {
        position: inherit;
        margin-top: 8px;
      }
      img {
        height: 180px;
        display: none;
      }
      .logo-big {
        @media screen and (min-width: 1300px ) {
          display: block;
        }
      }
      .logo-small {
        @media screen and (max-width: 1300px ) {
          display: block;
          height: 50px;
        }
      }
    }

    @media screen and (max-width: $mobile ) {
      float: none !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }

  .navbar-navigation {
    height: 100%;
    width: 70%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .navbar-collapse {
    height: 140px;
    margin-left: 280px;
    @media screen and (max-width: 1400px ) {
      margin-left: 340px;
    }
    @media screen and (max-width: 1300px ) {
      height: 90px;
    }
    @media screen and (max-width: $mobile ) {
      display: none;
    }
  }

  .login {
    background-color: $navbar-btn;
    color:#ffffff;
    border: 0px;
    font-size: 12px;
  }
  .login:hover{
    background-color: #3f5a75;
  }

  .englishflag img{
    width: 20px;
  }

  // .englishflag{
  //   margin: 0;
  //   padding: 0;
  // }

  .englishflag:hover, .englishflag:focus{
    background-color: transparent;
  }

  .navbar-right {
    right:-70px;
    left:auto;
    display: grid;
    @media screen and (max-width: 1300px ) {
      padding: 0 6px 4px 6px;
      display: flex;
      flex-direction: column;
      transition: 0.2s ease-out;
      right: -75px;
      left: auto;
      top: 168px;
      border: 1px solid #e3d6d6;
      background-color: white;
    }
  }

  .navbar-right-small-trigger {
    right: 5px;
    left: auto;
    font-size: 26px;
    @media screen and (min-width: 1300px ) {
      display: none;
    }
  }

  .navbar-hidden {
      @media screen and (max-width: 1300px ) {
        visibility: hidden;
        opacity: 0;
      }
  }

  .navbar-show{
    visibility: visible;
    opacity: 1;
  }

  .navbar-right-bene {
    right:-2%;
  }

  a {
    color: #636b6f;
  }
  .navbar-btn {
    margin: 0 0 5px 0;
  }

}

// navbar menu mobile
.navbar-mobile {
  display: none;
  @media screen and (max-width: $mobile ) {
    display: block;
  }
  .menu-toggler {
    visibility: hidden;
  }

  .main-menu {
    top: 75px;
    right: 0;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in 0s;
    transform: translateX(2em);
    list-style: none;
    padding: 0;
    z-index: 1;
    max-width: 70%;
    box-shadow: -4px 3px 6px 0px #bcbcbc;
  }

  .main-menu li {
    background-color: white;
    cursor: pointer;
    padding: 8px 0 8px 5px;
    .sub-group-trigger-1,
    .sub-group-trigger-2,
    .sub-group-trigger-3,
    .sub-group-trigger-4 {
      position: absolute;
      opacity: 0;
    }

    .sub-group-trigger-1:checked ~ .sub-navbar-mobile,
    .sub-group-trigger-2:checked ~ .sub-navbar-mobile,
    .sub-group-trigger-3:checked ~ .sub-navbar-mobile,
    .sub-group-trigger-4:checked ~ .sub-navbar-mobile {
      max-height: 300px;
    }

    .sub-navbar-mobile {
      overflow: hidden;
      max-height: 0;
      list-style: none;
      transition: all 0.4s ease-in-out;
      padding: 0;
      margin-left: 6px;
      li {
        background-color: white;
        border-bottom: 1px solid $navbar-btn;
        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
  .main-menu > li:nth-child(1) {
    border-bottom: 2px solid $navbar-btn;
  }
  .main-menu > li:nth-child(2) {
    border-bottom: 2px solid #005596;
  }
  .main-menu > li:nth-child(3) {
    border-bottom: 2px solid #C21C75;
  }
  .main-menu > li:nth-child(4) {
    border-bottom: 2px solid #F27B07;
  }
  .main-menu > li:nth-child(5) {
    border-bottom: 2px solid #009FCE;
  }
  .main-menu > li:nth-child(6) {
    border-bottom: 2px solid #E44212;
  }

  .main-menu li > label, .main-menu li > a {
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
    color: black;
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
  }

  .mobile-menu-overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 1000px;
    top: 70px;
    background-color: transparent;
  }

  .menu-toggler:checked ~ .mobile-menu-overlay {
    display: block;
  }

  .menu-toggler__label {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      bottom: 0;
      width: 33px;
      height: 35px;
  }

  .menu-toggler__label:hover,
  .menu-toggler__label:focus,
  .menu-toggler__label:active {
      cursor: pointer
  }

  .menu-toggler__label__visual span {
      display: block;
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: $navbar-btn;
      opacity: 1;
  }

  .menu-toggler:checked ~ .main-menu {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
  }

  .menu-toggler__label__text {
    display: none;
  }

  .menu-toggler:checked ~ .menu-toggler__label .menu-toggler__label__visual span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggler:checked ~ .menu-toggler__label .menu-toggler__label__visual span:nth-child(1) {
    transform: rotateZ(43deg);
    transform-origin: top left;
  }
  .menu-toggler:checked ~ .menu-toggler__label .menu-toggler__label__visual span:nth-child(3) {
    transform: rotateZ(-43deg);
    transform-origin: bottom left;
  }

  .menu-toggler__label__visual span:nth-child(1){
      top: 5px;
      transition: all 0.5s;
  }

  .menu-toggler__label__visual span:nth-child(2) {
      top: 50%;
      margin-top: -3px;
      transition: all 0.1s ease-out;
  }

  .menu-toggler__label__visual span:nth-child(3) {
      bottom: 5px;
      transition: all 0.5s;
  }

}



/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    &:before {
      content:'';
      position:absolute;
      width:5px;
      top:0;
      left:0;
      height:100%;
      transition: 0.5s ease-in-out;
      z-index:-1;
    }
    &:hover:before {
      width: 100%;
    }
    &:hover .dropbtn {
      color: white;
    }
    &:hover .dropdown-content {
        display: block;
    }

    .dropdown-content {
        padding-top: 11px;
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        a {
         font-size: 12px;
         color: black !important;
         padding: 12px 16px;
         text-decoration: none;
         display: block;
         &:hover {background-color: #dbdbdb;}
       }
    }

    .dropbtn {
        padding: 10px 16px;
        font-size: 16px;
        font-weight: bold;
        border: none;
        text-decoration: none;
        display: block;
        white-space: nowrap;
        &:hover {
          background-color: transparent;
        }
        &:focus {
          background-color: transparent;
        }
        a {
          text-decoration: none !important;
        }
        @media screen and (max-width: 1300px ) {
          font-size: 14px;
        }
    }

}

.dropdown.accueil {
  &:before {
    background: $navbar-btn;
  }
}

.dropdown.presentation {
  &:before {
    background: #005596;
  }
}

.dropdown.news {
  &:before {
    background: #C21C75;
  }
}

.dropdown.infos {
  &:before {
    background: #F27B07;
  }
}

.dropdown.works {
  &:before {
    background: #009FCE;
  }
}

.dropdown.contact {
  &:before {
    background: #E44212;
  }
}
