.presentation h1 {
  color: #2C3E50;
  font-weight: bold;
  padding: 10px 0 10px 0;
}

.home-container {
  margin-top: 10px;
}

.presentation {
  text-align: center;
}

.main-text {
  margin:0 10% 0 10%;
  text-align: justify;
}

.carousel-container {
  margin-top: 140px;
}

.statspub {
  background-color: #FBB900;
  font-size: 14px;
  margin: 2% 10% 2% 10%;
  text-align: justify;
  color: #000;
}

.statspub img {
float:left;
margin: 2% 1% 0 1%;
}

.statspub p {
padding: 1%;
}
