.presentation h1 {
  color: #2C3E50;
      font-weight: bold;
}

.home-container {
  margin-top: 10px;
}

.presentation {
  text-align: center;
}

.main-text {
  margin:0 10% 0 10%;
  text-align: justify;
}

.carousel-container {
  margin-top: 140px;
}

p strong {
  color: #29B224;
}
