.presentation h1 {
  color: #2C3E50;
  font-weight: bold;
  padding: 10px 0 10px 0;
}

.home-container {
  margin-top: 10px;
}

.presentation {
  text-align: center;
}

.main-text {
  margin:0 10% 0 10%;
  text-align: justify;
}

.carousel-container {
  margin-top: 140px;
}

.carousel {
  background-color: #fff;
}

.carousel-control.left, .carousel-control.right{
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.0001)));
  opacity: 0;
}

.carousel-control.left:focus, .carousel-control.right:focus{
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.0001)));
  opacity: 0;
}

.carousel-control.left:hover  {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.0001)));
  opacity: 0.5;
}

.carousel-control.right:hover  {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
  opacity: 0.5;
}
.carousel {
  .carousel-indicators .active {
      background-color: #636b6f;
  }

  .carousel-indicators li {
    border: 1px solid #636b6f;
  }
}
.statspub {
  background-color: #FBB900;
  font-size: 14px;
  margin: 2% 10% 2% 10%;
  text-align: justify;
  color: #000;
}

.statspub img {
float:left;
margin: 0.5% 1% 0.5% 1%
}

.statspub p {
padding: 1%;
}
